In [1]:
import pymysql as sql
from getpass import getpass
def new_acc():
    print("\n")
    print("*#"*50+"\n")
    print("\n"+"\t"*5+"New Account\n")
    print("*#"*50)
    fname=input("\n"+"\t"*5+"Enter First Name->")
    fname=isc(fname)
    lname=input("\n"+"\t"*5+"Enter last Name->")
    lname=isc(lname)
    mob=input("\n"+"\t"*5+"Enter Mobile Number->")
    mob=isi(mob)
    mob=valid(mob)
    dob=input("\n"+"\t"*5+"Enter Date of birth in format YYYY-MM-DD->")
    add=input("\n"+"\t"*5+"Enter Address->")
    aad=input("\n"+"\t"*5+"Enter Aadhar number->")
    aad=isi(aad)
    aad=valida(aad)
    unm=input("\n"+"\t"*5+"Enter User name->")
    pas=getpass("\n"+"\t"*5+"Enter Password->")
    db=sql.connect(host="localhost",port=3306,user="root",password="root",database="bankapp")
    c = db.cursor()
    cmd="insert into new_acc(fname,lname,mobno,dob,address,aadhar,username,password) values('{}','{}','{}','{}','{}',{},'{}','{}')".format(fname,lname,mob,dob,add,aad,unm,pas)
    c.execute(cmd)
    db.commit()
    print("\n"+"\t"*5+"New Account Added!")
    print("Your account number is->",a)
    a=input("\n"+"\t"*5+"Back to Main Menu (yes or no ?)->")
    ex(a)

In [2]:
new_acc(
)

*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#


					New Account

*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#

					Enter First Name->kanishk

					Enter last Name->rajawat

					Enter Mobile Number->8890865541

					Enter Date of birth in format YYYY-MM-DD->1998-11-07

					Enter Address->41,devi path behind soni hospital

					Enter Aadhar number->123456789123

					Enter User name->kpsingh

					Enter Password->········

					New Account Added!

					Back to Main Menu (yes or no ?)->yes

In [5]:
import pymysql as sql
db = sql.connect(host="localhost",port=3306,user="root",password="",database="bankapp")
c = db.cursor()
cmd = "select * from new_acc"
c.execute(cmd)
data = c.fetchall()

In [10]:
import pymysql as sql
from getpass import getpass
def new_acc():
    print("\n")
    print("*#"*50+"\n")
    print("\n"+"\t"*5+"New Account\n")
    print("*#"*50)
    fname=input("\n"+"\t"*5+"Enter First Name->")
    fname=isc(fname)
    lname=input("\n"+"\t"*5+"Enter last Name->")
    lname=isc(lname)
    mob=input("\n"+"\t"*5+"Enter Mobile Number->")
    mob=isi(mob)
    mob=valid(mob)
    dob=input("\n"+"\t"*5+"Enter Date of birth in format YYYY-MM-DD->")
    add=input("\n"+"\t"*5+"Enter Address->")
    aad=input("\n"+"\t"*5+"Enter Aadhar number->")
    aad=isi(aad)
    aad=valida(aad)
    unm=input("\n"+"\t"*5+"Enter User name->")
    pas=getpass("\n"+"\t"*5+"Enter Password->")
    db=sql.connect(host="localhost",port=3306,user="root",password="",database="bankapp")
    c = db.cursor()
    cmd="insert into new_acc(fname,lname,mobno,dob,address,aadhar,username,password,deposit,loan) values('{}','{}','{}','{}','{}',{},'{}','{}',1000,0)".format(fname,lname,mob,dob,add,aad,unm,pas)
    c.execute(cmd)
    db.commit()
    db = sql.connect(host="localhost",port=3306,user="root",password="",database="bankapp")
    c = db.cursor()
    cmd = f"select * from new_acc where aadhar={aad}"
    c.execute(cmd)
    data = c.fetchone()
    print("\n"+"\t"*5+"New Account Added!")
    print("\n"+"\t"*5+"Your account number is->",data[0])
    a=input("\n"+"\t"*5+"Back to Main Menu (yes or no ?)->")
    ex(a)

In [11]:
new_acc()

*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#


					New Account

*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#

					Enter First Name->kanishk

					Enter last Name->rajawat

					Enter Mobile Number->8890865541

					Enter Date of birth in format YYYY-MM-DD->1998-11-07

					Enter Address->41,devi path

					Enter Aadhar number->123456789123

					Enter User name->kpsingh

					Enter Password->········

					New Account Added!

					Your account number is-> 1

					Back to Main Menu (yes or no ?)->no

In [5]:
import pymysql as sql
def deposit():
    print("\n")
    print("*#"*50+"\n")
    print("\n"+"\t"*5+"Deposit\n")
    print("*#"*50)
    accno1=input("\t"*5+"Enter Account Number->")
    accno=isi(accno1)
    db = sql.connect(host="localhost",port=3306,user="root",password="",database="bankapp")
    c = db.cursor()
    cmd = f"select accno from new_acc"
    c.execute(cmd)
    data = c.fetchall()
    print("\n")
    f=0
    for var in range(len(data)):
        if data[var]==(int(accno1),):
            f=1
            break
        else:
            f=0
    if f==0:
        print("\n"+"\t"*5+"Enter valid Account number!!")
        sleep(1.5)
        os.system("cls")
        deposit()
    else:
        amnt=int(input("\n"+"\t"*5+"Enter Amount to Deposit->"))
        while True:
            if amnt<0:
                print("\n"+"\t"*5+"Amount cannot be negative")
                amnt=int(input("\n"+"\t"*5+"Re-enter Amount->"))
            elif amnt==0:
                print("\n"+"\t"*5+"Amount cannot be Zero")
                amnt=int(input("\n"+"\t"*5+"Re-enter Amount->"))
            else:
                break
        print("\n")
        cmd=f"update new_acc set deposit=deposit+{amnt} where accno={accno1}"
        c = db.cursor()
        c.execute(cmd)
        db.commit()
        a=input("\t"*5+"Back to Main Menu(yes or no)?->")
        ex(a)

In [6]:
deposit()

*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#


					Deposit

*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#
					Enter Account Number->4



					Enter valid Account number!!


*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#


					Deposit

*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#
					Enter Account Number->1



					Enter Amount to Deposit->2000


					Back to Main Menu(yes or no)?->no

In [7]:
data[0][1]

'kanishk'

In [5]:
for var in range(len(data)):
    if data[var][0]==1:
        print(var)

0

In [4]:
range(len(data))

range(0, 3)

In [10]:
 f=0
for var in range(len(data)):
    if data[var][0]==3:
        f=1
        break
    else:
        f=0

In [11]:
f

1

In [12]:
data

((1,
  'kanishk',
  'rajawat',
  8890865541,
  datetime.date(1998, 11, 7),
  '41,devi path',
  123456789123,
  'kpsingh',
  'abcd',
  4000,
  0),
 (2,
  'shubham',
  'sharma',
  7263548292,
  datetime.date(1998, 6, 2),
  '23,edasxda',
  125376823872,
  'ss',
  'abcd',
  2100,
  0),
 (3,
  'rudra',
  'pratap',
  3425172635,
  datetime.date(2000, 12, 12),
  '123,indore',
  647243758466,
  'rudra',
  'abcd',
  2000,
  0))

In [3]:
import pymysql as sql
def with_draw():
    print("\n")
    print("*#"*50+"\n")
    print("\n"+"\t"*5+"Withdrawl\n")
    print("*#"*50)
    db = sql.connect(host="localhost",port=3306,user="root",password="",database="bankapp")
    c = db.cursor()
    cmd = "select * from new_acc"
    c.execute(cmd)
    data = c.fetchall()
    accno1=input("\n"+"\t"*5+"Enter Account Number->")
    accno=isi(accno1)
    f=0
    for var in range(len(data)):
        if data[var][0]==int(accno1):
            f=1
            break
        else:
            f=0
    if f==0:
        print("\n"+"\t"*5+"Enter valid Account number!!")
        sleep(1.5)
        os.system("cls")
        with_draw()
    else:
        unm=input("\n"+"\t"*5+"Enter Username->")
        pwd=input("\n"+"\t"*5+"Enter Password->")
        if data[var][7]!=unm or data[var][8]!=pwd:
            print("\n"+"\t"*5+"Enter Correct Username/Password!!")
            with_draw()
        else:
            if data[var][9]!=0:
                amnt=int(input("\n"+"\t"*5+"Enter Withdrwal Amount->"))
                if amnt <0:
                    print("\n"+"\t"*5+"Amount cannot be negative")
                    with_draw()
                elif amnt==0:
                    if data[var][9]!=0:   
                        print("\n"+"\t"*5+"Amount cannot be zero")
                        with_draw()
                elif data[var][9]>=amnt:
                    cmd=f"update new_acc set deposit=deposit-{amnt} where accno={accno1}"
                    c = db.cursor()
                    c.execute(cmd)
                    db.commit()
                    a=input("\n"+"\t"*5+"Back to Main Menu (yes or no ?)")
                    #ex(a)    
                else:
                    print("\n")
                    print("*!"*50+"\n")
                    print("\n"+"\t"*5+"Insufficient Balance\n")
                    print("*!"*50)
                    with_draw()
            else:
                print("\n")
                print("*!"*50+"\n")
                print("\n"+"\t"*5+"Your current balance is zero\n")
                print("*!"*50)
                sleep(2)
                os.system("cls")
                op1()

In [4]:
with_draw()

*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#


					Withdrawl

*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#

					Enter Account Number->4

					Enter valid Account number!!


*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#


					Withdrawl

*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#

					Enter Account Number->1

					Enter Username->kp

					Enter Password->se

					Enter Correct Username/Password!!


*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#


					Withdrawl

*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#

					Enter Account Number->1

					Enter Username->kpsingh

					Enter Password->abcd

					Enter Withdrwal Amount->1000

					Back to Main Menu (yes or no ?)no

In [23]:
import pymysql as sql
def mgr():
    print("\n")
    print("*#"*50)
    print("\n"+"\t"*5+"Manager Login\n")
    print("*#"*50)
    db = sql.connect(host="localhost",port=3306,user="root",password="",database="bankapp")
    c = db.cursor()
    cmd = "select * from mgr"
    c.execute(cmd)
    data = c.fetchall()
    usr=input("\n"+"\t"*5+"Enter User ID->")
    usr=isi(usr)
    f=0
    for var in range(len(data)):
        if data[var][0]==int(usr):
            f=1
            break
        else:
            f=0
    if f==0:
        print("\n"+"\t"*5+"Enter valid ID !!")
        sleep(1.5)
        os.system("cls")
        mgr()
    else:
        pwd=input("\n"+"\t"*5+"Enter Password->")
        if data[var][1]!=pwd:
            print("\n")
            print("\n"+"\t"*5+"Invalid Password!")
            mgr()
        else:
            accno=input("\n"+"\t"*5+"Enter Account Number->")
            accno=isi(accno)
            db = sql.connect(host="localhost",port=3306,user="root",password="",database="bankapp")
            c = db.cursor()
            cmd = "select * from new_acc"
            c.execute(cmd)
            data = c.fetchall()
            f=0
            for var in range(len(data)):
                if data[var][0]==int(accno):
                    f=1
                    break
                else:
                    f=0
            if f==0:
                print("\n"+"\t"*5+"Enter valid Account Number !!")
                sleep(1.5)
                os.system("cls")
                mgr()
            else:
                print("\n")
                print("Details".center(100,"*"))
                print("\n"+"\t"*5+"First Name->",data[var][1])
                print("\n"+"\t"*5+"Last Name->",data[var][2])
                print("\n"+"\t"*5+"Mobile Number->",data[var][3])
                print("\n"+"\t"*5+"Date of Birth->",data[var][4])
                print("\n"+"\t"*5+"Address->",data[var][5])
                print("\n"+"\t"*5+"Aadhar->",data[var][6])
                print("\n"+"\t"*5+"Deposit->",data[var][9])
                print("\n"+"\t"*5+"Loan->",data[var][10])
                a=input("\n"+"\t"*5+"Back to Main Menu (yes or no ?)->")
                ex(a)

In [24]:
mgr()

*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#

					Manager Login

*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#

					Enter User ID->4

					Enter valid ID !!


*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#

					Manager Login

*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#

					Enter User ID->1234

					Enter Password->kps



					Invalid Password!


*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#

					Manager Login

*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#

					Enter User ID->1234

					Enter Password->abcd

					Enter Account Number->4

					Enter valid Account Number !!


*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#

					Manager Login

*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#

					Enter User ID->1234

					Enter Password->abcd

					Enter Account Number->1


**********************************************Details***********************************************

					First Name-> kpsingh

					Last Name-> rajawat

					Mobile Number-> 8890865540

					Date of Birth-> 1998-11-07

					Address-> 41,devi path

					Aadhar-> 123456789123

					Deposit-> 3000

					Loan-> 0

					Back to Main Menu (yes or no ?)->no