In [1]:
import pymysql as sql
from getpass import getpass
def new_acc():
    print("\n")
    print("*#"*50+"\n")
    print("\n"+"\t"*5+"New Account\n")
    print("*#"*50)
    fname=input("\n"+"\t"*5+"Enter First Name->")
    #fname=isc(fname)
    lname=input("\n"+"\t"*5+"Enter last Name->")
    #lname=isc(lname)
    mob=input("\n"+"\t"*5+"Enter Mobile Number->")
    #mob=isi(mob)
    #mob=valid(mob)
    dob=input("\n"+"\t"*5+"Enter Date of birth in format YYYY-MM-DD->")
    add=input("\n"+"\t"*5+"Enter Address->")
    aad=input("\n"+"\t"*5+"Enter Aadhar number->")
    #aad=isi(aad)
    #aad=valida(aad)
    unm=input("\n"+"\t"*5+"Enter User name->")
    pas=getpass("\n"+"\t"*5+"Enter Password->")
    db=sql.connect(host="localhost",port=3306,user="root",password="root",database="bankapp")
    c = db.cursor()
    cmd=f"insert into new_acc(fname,lname,mobno,dob,address,aadhar,username,password) values('{fname}','{lname}',{mob},'{dob}',{add},'{aad}','{unm}','{pas}')"
    c.execute(cmd)
    db.commit()
    print("\n"+"\t"*5+"New Account Added!")
    #print("Your account number is->",a)
    a=input("\n"+"\t"*5+"Back to Main Menu (yes or no ?)->")
    #ex(a)

In [2]:
new_acc(
)

*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#


					New Account

*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#

					Enter First Name->kanishk

					Enter last Name->rajawat

					Enter Mobile Number->8890865541

					Enter Date of birth in format YYYY-MM-DD->1998-11-07

					Enter Address->41,deiv

					Enter Aadhar number->12345678912

					Enter User name->kpsingh

					Enter Password->········

DataError: (1264, "Out of range value for column 'mobno' at row 1")